table {
	border: 2px solid gold;
}
td:hover {
	background-color: green;
	color: black;
}
tr, th {
	background-color: green;
	color: black;
}
tr, td {
	background-color: green;
	color: black;
}